In [2]:
import pandas as pd

df = pd.read_csv('co-emissions-per-capita.csv')
df.head()

        Entity Code  Year  Per capita CO2 emissions
0  Afghanistan  AFG  1949                  0.001912
1  Afghanistan  AFG  1950                  0.010871
2  Afghanistan  AFG  1951                  0.011684
3  Afghanistan  AFG  1952                  0.011542
4  Afghanistan  AFG  1953                  0.013216

In [ ]:
import matplotlib.pyplot as plt

plt.plot